
<html lang="en">
    <head>
        <% include partials/head %>
    </head>

<style>

  .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


</style>

<body>
<div class="split left">
  <div class="text-center">
  <h2>Hello, <%= username %></h2>
  <br>
  <div><h4>Your e-mail is: <%= email %></h4></div>
  <br>
  <!-- <div>Your password is: <%= password %></div> -->
  
  <button type="button" class="btn btn-danger btn-lg" href="/logout" onClick='document.location.href="/logout"'>
    Logout
  </button>
  <hr />
  
  
  <div>
    <h2>Here are your metrics</h2>
    <% metrics.forEach(function(metrics){ %>
      
      <%- metrics.timestamp%>
      <%- metrics.value %>
      <br/>
    <% }); %>
  </div>

  <br>
  <div id="form"></div>
    <hr />
    <form action="/metrics/<%= username %>" method="post">
      <h2 class="form-signin-heading">Please enter metrics</h2>

      <div class="form-group">
        <label for="form_value">Value</label>
        <input id="form_value" required type="text" name="value" />
      </div>

      <button type="submit" class="btn btn-success btn-lg" id="connect">Save metrics</button>
    </form>
    <hr />
  </div>
</div>

<div class="split right">
  <div class="text-center">
    <div id="updateEmail"></div>
    <hr />
    <form action="/userEmail/<%= username %>" method="post">
      <h2><p class="form-signin-heading">Please enter your new Email:</p></h2>
      <div class="form-group">
        <h4>
        <label for="form_email">New Email:</label>
        <input id="form_email" required type="text" name="newEmail" />
        </h4>
      </div>
      <button type="button" class="btn btn-primary btn-lg" id="changeEmail">Change Email!</button>

      </form>
    <hr />
    

    <div id="updatePassword"></div>
    <hr />
      <form action="/userPassword/<%= username %>" method="post">
        <p class="form-signin-heading">Please enter new e-password When you change it you will log out</p>
        <div class="form-group">
          <label for="form_email">Password</label>
          <input id="form_email" required type="text" name="newPassword" />
        </div>
        <button type="button" class="btn btn-primary btn-lg" id="changePassword">Change Password!</button>

      </form>
    <hr />
  </div>
</div>
</div>

  
</body>

</html>